# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.egg-info/
*.eggs/

# Virtual Environment
venv/
.venv/

# Django
*.sqlite3
db.sqlite3
*.log

# Environment Variables
.env

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.swn

# OS Files
.DS_Store
Thumbs.db